body {
  font-family: "Montserrat";
}
#title {
  background-color: #ff4c68;
  color: #fff;
}
h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15%;
}

/*navbar*/
.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
  padding-right: 0;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: 900;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


/* download-button */
.download-button {
  margin: 5% 8% 2% 0;
}

/* Title-img */
 /* .col-img {
  padding-left: 5rem;
  margin-top: 20px;
  padding-top: 1rem;
} */

.title-img {
  width:60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
  padding-top: 2rem;
}


/* features-section */
#features {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
  position: relative;

}
.icon {
  color:  #ef8172;
  padding-bottom: 1.5rem;
  padding-top: 3rem;
}
.icon:hover {
  color: #ff4c68;
}
.features-head {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 900;
}
.features-para {
  color: #8f8f8f;
}

/* Testimonials-section */
#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 15px 20px;
}
.carousel-inner {
  padding: 7% 15%;
}

/* press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  text-align: center;
  padding: 3% 2%;
}
.row-price {
  margin: 10px 20px;
}
.col-price {
  padding: 50px;
}

@media (max-width: 1050px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
  .download-button {
    text-align: center;
  margin-left: 10%;
  }

}

/* cta section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 6% 10%;
}

.cta-heading {
  font-family: "Montserrat";
  font-weight: 900;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 4%
}
.download-button-bottom {
  margin: 20px 13px;
  padding-top: 10px;
}

/* footer section */
#footer {
  margin-top: 8%;
  margin-bottom: 0;
  text-align: center;
}
.copyright {
  color: grey;
}
.footer-icon {
  margin: 5px 10px 20px;

}

.logo {
  border-radius: 100%;
  width: 50%;
}
